/*.log
/target
/*-init.clj
/resources/public/js/main-dev/
/resources/public/js/ui-out/
/resources/public/js/ui-core.js
/resources/public/css/site.css
out
/.idea
/src/old
figwheel_server.log
.rebel_readline_history
*.iml
/node_modules